* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

.Frame {
    position: relative;
    width: 600px;
    height: 600px;
    filter: url(#fire) blur(1px);
    left: 175px;
}

.Frame::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 20px solid white;
    box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
    animation: animation 5s linear infinite;
}

.Frame::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 20px solid white;
    box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

svg {
    width: 0;
    height: 0;
}

#img {
    background: url("BG.jpg") no-repeat center center/cover;
    width: 500px;
    height: 500px;
    position: relative;
    right: 368px;
    top: 10px;
    border-radius: 10px;
}

@keyframes animation {
    0% {
        box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
        filter: hue-rotate(0deg);
    }
    20% {
        box-shadow: 0 0 50px #0f0, inset 0 0 60px #0f0;
    }
    40% {
        box-shadow: 0 0 50px #0f0, inset 0 0 40px #0f0;
    }
    60% {
        box-shadow: 0 0 50px #0f0, inset 0 0 80px #0f0;
    }
    100% {
        box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
        filter: hue-rotate(360deg);
    }
}