*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background: url("cup.jpg")no-repeat center center/cover;
}
i{
    font-size: 60px;
    font-weight: 100;
    color: white;
    filter: blur(5px) drop-shadow(0px 0px 0.1rem white);
    position: absolute;
    transform: scale(1);
    transition: 1s;
    opacity: 0;
}
#Heart1{
    animation: animate 6s linear infinite;
}
#Heart2{
    animation: animate2 6s linear infinite;
    animation-delay: 2s;
}
#Heart3{
    animation: animate3 6s linear infinite;
    animation-delay: 4s;
}
#Heart4{
    animation: animate4 6s linear infinite;
    animation-delay: 6s;
}
#Heart5{
    animation: animate5 6s linear infinite;
    animation-delay: 8s;
}
@keyframes animate {
    0%{
        top: 200px;
        right: 550px;
        filter: blur(5px);
        opacity: 0.4;
    }
    30%{
        top: 100px;
        right: 560px;
        opacity: 0.5;
        transform: scale(1.4);
    }
    60%{
        top: 50px;
        right: 550px;
        opacity: 0.7;
        transform: scale(1.8);
    }
    100%{
        top: -80px;
        right: 555px;
        transform: scale(2.5);
        filter: blur(10px);
    }
}
@keyframes animate2 {
    0%{
        top: 250px;
        right: 490px;
        filter: blur(5px);
        opacity: 0.4;
    }
    30%{
        top: 150px;
        right: 480px;
        opacity: 0.5;
        transform: scale(1.4);
    }
    60%{
        top: 100px;
        right: 470px;
        opacity: 0.7;
        transform: scale(1.8);
    }
    100%{
        top: -80px;
        right: 480px;
        transform: scale(2.2);
        filter: blur(10px);
    }
}
@keyframes animate3 {
    0%{
        top: 280px;
        right: 450px;
        filter: blur(3px);
        opacity: 1;
    }
    30%{
        top: 190px;
        right: 460px;
        opacity: 0.5;
        transform: scale(1.4);
    }
    60%{
        top: 80px;
        right: 450px;
        opacity: 0.9;
        transform: scale(1.8);
    }
    100%{
        top: -80px;
        right: 455px;
        transform: scale(2.5);
        filter: blur(8px);
    }
}
@keyframes animate4 {
    0%{
        top: 290px;
        right: 640px;
        filter: blur(5px);
        opacity: 0.4;
    }
    30%{
        top: 180px;
        right: 670px;
        opacity: 0.5;
        transform: scale(1.4);
    }
    60%{
        top: 90px;
        right: 630px;
        opacity: 0.7;
        transform: scale(1.8);
    }
    100%{
        top: -80px;
        right: 680px;
        transform: scale(2.2);
        filter: blur(10px);
    }
}
@keyframes animate5 {
    0%{
        top: 290px;
        right: 580px;
        filter: blur(5px);
        opacity: 0.4;
    }
    30%{
        top: 195px;
        right: 590px;
        opacity: 0.5;
        transform: scale(1.4);
    }
    60%{
        top: 50px;
        right: 580px;
        opacity: 0.7;
        transform: scale(1.8);
    }
    100%{
        top: -80px;
        right: 595px;
        transform: scale(2.8);
        filter: blur(10px);
    }
}